name: Publish Docker image to docker hub

on:
  push:
    tags:
      - v*
  release:
    type: [published]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.ASSOCIATION_DOCKER_USERNAME }}
          password: ${{ secrets.ASSOCIATION_DOCKER_TOKEN }}

      - name: Set package version
        run: ./scripts/set-package-version.sh

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.ASSOCIATION_DOCKER_HUB_REPO }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/sq-Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
